# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Env files
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# Caches / build
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
